.welcome{
    margin-left: 50px;
    margin-top:50px;
    font-size: 1.3rem;
}

#new {
    margin-left :89%;
    margin-bottom :2%;
    margin-top :2%;
}

.bold {
    font-weight: bold;
}


.pages {
	text-align:center;
}


.pages li {
    text-align: center;
	width: 44px;
	height: 44px;
	display: inline-block;
	line-height: 42px;
	border: none;
	font-size: 15px;
	font-weight: 700;
	color: #121212;
	transition: all .3s;
}



@media only screen and (max-width: 768px) {

    .welcome{
        margin-left :0;
        margin-top:50px;
        font-size: 1.2rem;
    }

    #new {
        margin-left :82%;
    }

}
